<h1>{{name}}</h1>

<p>Age: {{age}} </p>
<p>Contact: {{email}} </p>
<p>Address: {{address.street}}, {{address.city}} {{address.state}}</p>

<button (click)="toggleEdit()">Edit User!</button>

<div *ngIf=isEdit>
  <h1>Edit User...</h1>
  <form >
    <div>
      <label for="name">Name: </label>
      <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for="age">Age: </label>
      <input type="number" [(ngModel)]="age" name="age">
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="text" [(ngModel)]="email" name="email">
    </div>
    <div>
      <label for="street">Street: </label>
      <input type="text" [(ngModel)]="address.street" name="street">
    </div>
    <div>
      <label for="city">City: </label>
      <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <div>
      <label for="state">State: </label>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>
  </form>
</div>

<h2>Hobbies:</h2>

<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby</label>
    <input type="text" #hobby placeholder="Enter a hobby">
    <button (click)="onClick(hobby.value)">Add!</button>
  </div>
</form>

<ul>
  <li 
    *ngFor="let hobby of hobbies; let i = index">
      {{hobby}} <button (click)="deleteHobby(hobby)">Delete this Hobby</button>
  </li>
</ul>

<h2> JSONPlaceholder Photos </h2>
<div *ngFor="let p of photos">
  <p><b>Title:</b> {{p.title}}</p>
  <a href="{{p.url}}"> <img src = "{{p.thumbnailUrl}}"> </a>
</div>
