<h1>Welcome {{name}}</h1>

<h2>Your place of residence is: {{address.city}}      
</h2>

<button (click)="onClick()">Click Me!</button>
<button (click)="toggleEdit()">Edit User!</button>

<div *ngIf=isEdit>
  <<h1>Edit User...</h1>
  <form >
    <div>
      <label for="name">Name: </label>
      <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for="age">Age: </label>
      <input type="number" [(ngModel)]="age" name="age">
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="text" [(ngModel)]="email" name="email">
    </div>
    <div>
      <label for="street">Street: </label>
      <input type="text" [(ngModel)]="address.street" name="street">
    </div>
    <div>
      <label for="city">City: </label>
      <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <div>
      <label for="state">State: </label>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>
  </form>
</div>

<h1>Hobbies:</h1>

<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby</label>
    <input type="text" #hobby>
  </div>
</form>

<ul>
  <li 
    *ngFor="let hobby of hobbies; let i = index">
    Hobby is ... {{hobby}} number {{i}} <button (click)="deleteHobby(hobby)">Delete this Hobby</button>
  </li>
</ul>

<h1>
  Post
</h1>
<div *ngFor="let p of post">
  <h4>{{p.title}}</h4>
  <p>{{p.body}}</p>
</div>